workflows/kestra_workflows/tirinnovo.ai/test_count_events.yml
id: test__count_events
namespace: tirinnovo.ai

inputs:
  - id: message
    type: STRING
    defaults: This is the message

  - id: organization_id
    type: STRING
    defaults: '-'

  - id: room_id
    type: STRING
    defaults: '-'

tasks:
  - id: fetch_events
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: "{{ envs.app_db_url }}"
    username: "{{ envs.app_db_username }}"
    password: "{{ secret(key='APP_DB_PASSWORD') }}"
    sql: |
      SELECT
        id, event_date_is_datetime, event_date_tz, inspection_report, lat, lon,
        regexp_replace(message, 'data:[^"]*', '[data removed]', 'g') as message,
        metadata, recorded_at, resolved, subject, weather, created_by_id, created_at, updated_at
      FROM events
      WHERE
        (
          discarded_at IS NULL
        )
      LIMIT 20;
    fetchType: FETCH

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: "{{ outputs.fetch_events.rows }}"

  - id: post_message_to_webhook
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.tirinnovo_web_domain }}/api/hooks/ai_response"
    method: POST
    headers:
      Authorization: Bearer {{ secret(key='AI_WEBHOOK_API_TOKEN') }}
      Content-Type: application/json
    body: |
      { "organization_id": "{{ inputs.organization_id }}", "room_id": "{{ inputs.room_id }}", "message": {{ inputs.message | toJson }}, "metadata": { "event_rows": {{ outputs.fetch_events.rows | toJson }} } }
